.page h1 {
  margin: 0;
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
}
.page h1:after {
  content: "";
  display: flex;
  height: 2px;
  width: 10%;
  background-color: #ffecb7;
  border-radius: 20px;
  margin-top: 10px;
}
.page p {
  color: #d0d0d0;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 1rem;
}

.page h2 {
  margin: 0;
  font-size: 20px;
  color: white;
  margin: 10px 0;
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  background: linear-gradient(#373737, #373737) padding-box,
    linear-gradient(150deg, #5d5d5d, #2c2c2c) border-box;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 1rem;
  background-color: #373737;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.card svg {
  font-size: 40px;
  color: #ffecb7;
  width: 20%;
}

.card-item {
  width: 80%;
}
.card h3 {
  margin: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 16px;
}
.card p {
  margin: 0;
}

.slick-list {
  padding-bottom: 1rem !important;
}

.slick-slide {
  padding: 0px 8px;
}

.slick-dots li {
  width: 200px !important;
  margin: 0 0px !important;
}

.slick-list {
  padding: 1.5rem 0 !important;
}

.slick-dots li button:before {
  content: "" !important;
  display: flex !important;
  height: 3px !important;
  width: 100% !important;
  background-color: #5d5d5d;
  border-radius: 40px;
}
.slick-active button:before {
  background-color: #ffecb7 !important;
}

.testimonial .card svg {
  position: absolute;
  top: -15%;
  left: 5%;
  background: linear-gradient(#373737, #373737) padding-box,
    linear-gradient(150deg, #5d5d5d, #2c2c2c) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: #373737;
}

.testimonial .card h3 {
  margin-left: 4rem;
}

@media only screen and (max-width: 680px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .slick-dots li {
    width: 50px !important;
    margin: 0 0px !important;
  }
  .page {
    padding-top: 2rem;
  }
}
