.topbar{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3c3c3c;
    border-radius: 0px 0px 0px 20px;
    padding: 10px 15px;
}
.topbar ul{
    padding: 0;
    margin: 0;
}
.topbar ul li{
    display: flex;
}
.topbar ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    font-size: 14px;
}

.top-itms.active{
    color: #ffecb7;
    font-weight: 600;
}

@media only screen and (max-width: 680px) {
    .topbar{
        width: 100%;
        border-radius: 0px;
    }
}