.contact-card {
  /* background: #151515; */
  /* padding: 30px; */
  border-radius: 18px;
  margin-top: 20px;
}

.contact-card h2 {
  margin-bottom: 20px;
}

.input-row {
  display: flex;
  gap: 20px;
}

input, textarea {
  width: 100%;
  background: #373737;
  background: linear-gradient(#373737, #373737) padding-box,
    linear-gradient(150deg, #5d5d5d, #2c2c2c) border-box;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 14px;
  border-radius: 12px;
  color: white;
  outline: none;
  font-size: 14px;
}

textarea {
  margin-top: 20px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #777;
}

.contact-card button {
  margin-top: 20px;
  background: #ffecb70a;
  color: #ffecb7;
  border: none;
  padding: 12px 22px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  float: right;
  display: flex;
  align-items: center;
  gap: 8px;
}

button:hover {
  opacity: 0.9;
}