.sidebar {
  width: 25%;
  background-color: #2c2c2c;
  padding: 1.5rem;
  border-radius: 40px;
  border: 2px solid #3c3c3c;
  /* height: 70vh; */
  position: sticky;
  top: 2rem;
}

.profile {
  text-align: center;
  color: white;
}

.profile-image {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.profile img {
  width: 80%;
  border-radius: 40px;
  aspect-ratio: 2/2;
  object-fit: cover;
}
.profile h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.profile span {
  background-color: #3c3c3c;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 10px;
  color: #ffecb7;
}

.sidebar hr {
  margin: 2rem 0;
  border: 1px solid #3c3c3c;
}

.info a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.info-items a svg {
  background: linear-gradient(#373737, #373737) padding-box,
    linear-gradient(120deg, #5d5d5d, #2c2c2c) border-box;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 30px;
  background-color: #373737;
  color: #ffecb7;
}
.info a p {
  text-decoration: none;
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.info a p span {
  color: #ffecb7;
  text-transform: uppercase;
  font-size: 10px;
}

.info.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.info.links p a {
  font-size: 18px;
}

@media only screen and (max-width: 680px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }
  .profile img {
    width: 50%;
  }
}
