* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #202020;
}

.App {
  
  height: 100vh;
  width: 100%;
}

.App-main {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 15px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.pages {
  width: 75%;
  background-color: #2c2c2c;
  padding: 1.5rem;
  border-radius: 40px;
  border: 2px solid #3c3c3c;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .App-main {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 680px) {
  .App {
    height: 100%;
  }
  .App-main {
    width: 100%;
    flex-direction: column;
  }

  .pages {
    width: 100%;
  }
}
