/* Tabs */

.portfolio-tabs {
  display: flex;
  gap: 20px;
  margin: 15px 0 25px;
}

.portfolio-tabs button {
  background: transparent;
  border: none;
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 5px;
}

.portfolio-tabs .active {
  color: #ffecb7;
  border-bottom: 2px solid #ffecb7;
}

/* Grid */

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Card */

.portfolio-card {
  cursor: pointer;
}
.portfolio-card:hover {
  transform: translateY(-6px);
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6); */
}

.portfolio-card img {
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
}

/* Text */

.portfolio-info {
  padding: 15px;
}

.portfolio-info h3 {
  font-size: 16px;
  margin-bottom: 4px;
  color: white;
}

.portfolio-info p {
  font-size: 13px;
  color: #aaa;
  margin: 0;
}

@media only screen and (max-width: 680px) {
  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
